@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #fff6fb;
	color: #320a2b;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background-color: #ec008c;
	color: #ffffff;
}